<%= form_for(@historium) do |f| %>
  <% if @historium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historium.errors.count, "error") %> prohibited this historium from being saved:</h2>

      <ul>
      <% @historium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_singularidad %><br>
    <%= f.number_field :id_singularidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
