<%= form_for(@publication) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, options_for_select([["Texto", "1"], ["Instagram", "2"],  ["Vine", "3"] ]),  {:prompt => 'Selecciona el tipo de tu publicación'} %>
  </div>
  <div class="field" id="content" style="display: none">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field" id="url" style="display: none">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <%= hidden_field_tag :history_id, @history_id, :id => "history_id" %>
  <%= hidden_field_tag :llink, @llink, :id => "llink" %>
  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>

<%= javascript_include_tag "hide_content_url" %>

