
  <hr>
  <div class="row">
    <div class="columns large-9 medium-6">
      <blockquote>
      <% if publication.content == "" %>
       <%= link_to content_tag('div',"Ver Publicación"), publication %>
        <%= raw publication.url %>
      <% else %> 
        <%= link_to content_tag('h3',publication.content), publication %>
      <% end %>
      <cite><%= publication.user.name %> - <em><%= time_ago_in_words(publication.created_at) %> ago</em></cite>
      </blockquote>  
    </div>
    <!-- <div class="columns large-3 medium-6">
      <ul class="inline-list">
        <li><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div> -->
  </div>
