<div class="row">
  <h1>Multiverso</h1>
  <p><strong>Ultimas Historias: </strong>
<% @histories.each do |history| %>
<%= link_to "Historia # #{history.id}", history_path(history) %>
<%end%></p>
  <div class="panel callout radius">
  <p><strong>Historia del mes Biblioteca Karl C. Parrish<strong></p>
  <p><%= @singularity.publication.content %></p>

  <% if user_signed_in?  %> <%= link_to 'Crea tu propia historia!', continue_publication_path(:history_id =>"-1", :llink => @singularity.id) %><%end%>
</div>
  
  <h2>Timeline</h2>
</div>
<div id="publications">
 
   <%= render @publications %>
</div>
<div class="row">
  <%= paginate @publications %>
</div>

