
<h1>Multiverso</h1>
<p><strong>Historia del mes Biblioteca Karl C. Parrish<strong></p>
<p><%= @singularity.publication.content %><% if user_signed_in?  %> <%= link_to ' Continuar', continue_publication_path(:history_id =>-1, :llink => @singularity.publication.id) %><%end%></p>
<h2>Timeline</h2>
<% @publications.each do |publication|%>
  <hr>
  <div class="row">
    <div class="columns large-9 medium-6">
      <blockquote>
      <% if publication.content == "" %>
        <%= raw publication.url %>
      <% else %> 
        <%= link_to content_tag('h3',publication.content), publication %>
      <% end %>
      <cite><%= publication.user.name %> - <em><%= time_ago_in_words(publication.created_at) %> ago</em></cite>
      </blockquote>
      
        
      
    </div>

    <div class="columns large-3 medium-6">
      <ul class="inline-list">
        <% if user_signed_in?  %><% if current_user.admin  %><li><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></li><%end%><%end%>
      </ul>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Publication', new_publication_path %>
