
<h1>Multiverso</h1>
<p><strong>Historia del mes Biblioteca Karl C. Parrish<strong></p>
<p><%= @singularity.publication_id_id.content %></p>
<h2>Timeline</h2>
<% @publications.each do |publication|%>
  <hr>
  <div class="row">
    <div class="columns large-9 medium-6">
      <blockquote>
        <%= link_to content_tag('h3',publication.content), publication %>
        <cite><%= publication.user_id_id.name %> - <em><%= time_ago_in_words(publication.created_at) %> ago</em></cite>
      </blockquote>
    </div>
    <div class="columns large-3 medium-6">
      <ul class="inline-list">
        <li><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Publication', new_publication_path %>
