<p id="notice"><%= notice %></p>
<div class="row">
  <div class="large-6 large-centered columns">
    <div class="panel callout radius">
      <% if @publication.type >1 %>
        <center><%= raw @publication.url%></center>
      <%else%>
        <center><p><h3><%= @publication.content %></h3></p></center>
      <%end%>
      <center><cite><%= @publication.user.name %> - <em><%= time_ago_in_words(@publication.created_at) %> ago</em></cite><br>
        <% if !@publication.singularity %> 
          <%= link_to 'Úsala en tu historia!', :controller =>"histories", :action => "show_history_continuation", :publication_id => @publication.id %>
        <%end%>
      </center>
      Ver también en:
      <ul class="breadcrumbs">
        <%@publication.stories_which_belongs.each do |history|%>
          <li><a href="<%=history%>">Historia <%= history.id%></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



