<%= form_for(@publicacione) do |f| %>
  <% if @publicacione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publicacione.errors.count, "error") %> prohibited this publicacione from being saved:</h2>

      <ul>
      <% @publicacione.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :texto %><br>
    <%= f.text_field :texto %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :id_autor %><br>
    <%= f.number_field :id_autor %>
  </div><!--
  <div class="field">
    <%= f.label :singularidad %><br>
    <%= f.check_box :singularidad %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
