<p id="notice"><%= notice %></p>

<p>
  <strong>Publication:</strong>
  <%= @history.publication_id_id %>
</p>

<tbody>
    <% @publications.each do |publ| %>
      <tr>
      	<td><%= publ.content %><% if @signed %> <%= link_to ' Continuar', new_publication_path(:history_id =>@history.id, :llink => publ.id) %><%end%></td><br>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>