<h1>Listing historias</h1>

<table>
  <thead>
    <tr>
      <th>Id singularidad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @historias.each do |historia| %>
      <tr>
        <td><%= historia.id_singularidad %></td>
        <td><%= link_to 'Show', historia %></td>
        <td><%= link_to 'Edit', edit_historia_path(historia) %></td>
        <td><%= link_to 'Destroy', historia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historia', new_historia_path %>
