<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Multiverso -  Uninorte" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag "style_index.css", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
   

    <div id="headerblack">
  <div id="wrapheader">
        <div id="logo_multiverso_cuadros"></div>
        <div id="logouninorte"></div>
        <div id="navbar">
          <div id="nav_menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Acerca</a></li>
              <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li ><a href="#" class="button">Admin - <%= current_user.name %></a></li>
            <% else %>
              <li ><a href="#" onclick="return false" >Hola <%= current_user.name %> !</a></li>
            <% end %>
            <li ><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></l>
          <% else %>
          <li class="name"><a href="#" onclick="return false" >Iniciar sesion con</a></li>
          <li class="has-form"><a href="/users/auth/facebook" class="button">Facebook</a></li>
          <li class="has-form"><a href="/users/auth/twitter" class="button">Twitter</a></li>
          <% end %>
              </ul>
          </div>
                  <div id="busqueda">
                    <div class="box">
                      <div class="container-1">
                        <%= form_tag(search_path, :method=>'get', :multipart => true) do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Ejemplo: Drama" %>
                        <button class="button tiny" type="submit">Buscar</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
  </div>
</div>

    <%= yield %>

    

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= javascript_include_tag "application" %>
  </body>
</html>